
<div class="login">
    <h2 class="login__header">
       Login
   </h2> 
   
   <form class="login__form" [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
       <mat-form-field class='login__input' appearance="outline">
           <mat-label>Login</mat-label>
           <input matInput type="text" formControlName="login" email required >
           <mat-error *ngIf="true">
               Incorrect email
           </mat-error>
       </mat-form-field>
       <mat-form-field class='login__input' appearance="outline">
           <mat-label>Password</mat-label>
           <input matInput type="password" formControlName="password" required>
           <mat-error *ngIf="true">
               Incorrect password
           </mat-error>
       </mat-form-field >
       <!--<p *ngIf="isError" class='login__error-message'>Wrong login or password</p>-->
       <div class="login__control">
           <button class="login__login-button" type="submit">Sign in</button>
           <!--<a class="login__forgot-button" routerLink="/forgot">Forgot password</a>-->
       </div>
   </form>
   <div class="login__auth-container">
       <div class="login__auth-buttons">
           <a href="http://localhost:8080/oauth2/authorization/google"><button class="login__auth-button google" type="button"></button></a>
       </div>
       <div class="login__auth-buttons">
           <a href="http://localhost:8080/oauth2/authorization/facebook"><button class="login__auth-button fb" type="button"></button></a>
       </div>
       <div class="login__auth-buttons">
           <a href="http://localhost:8080/oauth2/authorization/yandex"><button class="login__auth-button yandex" type="button"></button></a>
       </div>
   </div>
   <p class='login__message'><a routerLink="/register" class='login__link'>Don't have an account?</a></p>
</div>
